extends ./layout
block link
    link(rel='stylesheet', href='/bower_components/editor.md/css/editormd.css')
block admin-header
    dl(class="brumb clearfix")
        dt
            span 当前位置：文章编辑
block content
    div(class="main-content" data-page="newAA")
        form(role="form" class="arform")
            div(class="form-group")
                input(name="name" type="text" class="form-control" placeholder="文章标题" value="#{article.name}")
            div(class="form-group")
                span #{article.cinfo}
            div(class="form-group")
                div(id="test-editormd")
                    textarea #{article.draft}
            button(id="up-btn" type="button" class="btn btn-lg btn-info" data-action="/admin/article/edit/#{article.id}?_method=PUT") 更新
block script
    script(type="text/javascript" src="/bower_components/editor.md/src/editormd.js")
    script(type="text/javascript" src="/js/module/admin.min.js")
