extends ./layout
block link
    link(rel='stylesheet', href='/bower_components/editor.md/css/editormd.css')
block admin-header
    dl(class="brumb clearfix")
        dt
            span 当前位置：列表
        dd
            span 可操作
            a(href="/admin/article/add") 新建文章
block content
    div(class="main-content" data-page="newAA")
        form(role="form" class="arform")
            input(type="hidden" name="user" value="#{user.id}")
            
block script
    script(type="text/javascript" src="../../bower_components/editor.md/src/editormd.js")
    script(type="text/javascript" src="/js/module/admin.min.js")
