extends ../layout

block content
    h1= title
    hr
    p That's a simple application using Express.
    form(role="form" method="post" action="/admin/upload" enctype='multipart/form-data')
        div(class="form-group")
            input(type="file" name="pictures" multiple)
        button(type="submit" class="btn btn-info") 上传
    ul
        each val,index in files
            li
                div(style="width:50px;height:50px;")
                    img(src="/uploads/"+val.name,style="max-width:50px;max-height:50px;")

