extends ./layout
block link
    link(rel='stylesheet', href='/css/admin.css')

  block content
      div(class="tpl-content")
        ul
            li
                img(src="/images/temp/tupian-content08.jpg" alt="")
