extends ./layout

block content
  div(class="home-tpl")
      div(class="block-1")
          dl(class="brumb clearfix")
              dt
                  span 小站简介
              dd
                  span 可操作
                  a(href="##") 编辑
          div(style="padding-left:12px;")
              | Alan Dairy: 突发奇想网站被命名为"Alan Dairy",没有理由，也许只是喜欢 alan这个名字。设计之初只是想简单记录每天的生活状态，do something different， 后续会定制社交类型的网站。整个技术层面采用的node+express+bootstrap，每行的代码都是自己手动敲上去的， node接触时间虽然不短，但整个开发还是要从头学，以后的博文中会提到整个网站的行程及每天我的一个工作状态. 现在时间 2015年3月7日 21:49，好吧，我困了，要去睡了
