extends layout
block link
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/css/about.css')
block content
    header(class="main-banner")
        img(class="b-img" src="http://oht39vaz1.bkt.clouddn.com/img/travel/xiamen/img_2713_2.jpg")
    div(class="w max-wrap-1200")
        div(class="simple-block")
            img(src="http://oht39vaz1.bkt.clouddn.com/img/avator/alan.jpg" class="av-img img-circle")
            h2 Alan
            p 是时候说点认真的事了
        div(class="my-content")
            div(class="bb")
                div(class="separate-line txt-left")
                    div
                    span(class="label-text")  技术栈篇
                div(class="cc")
                    p 唠叨两句：想了下这些年自己都用到了哪些技术，大三的时候就开始培训实习Java，那时还不知道啥是前端，培训大概半年多的时间，后留在那实习，有接触过PHP、Object-c，12年毕业
                        | 结果被分配到了前端部门，从此踏上了“不归路”，很庆幸，是自己真的喜欢，有件事印象很深，就是刚开始学习JS编代码用的记事本（老师要求），好像有两三个月的样子，现在想起来都会有点发触。
                    p HTML5，Css3，ES6，Less，Sass，Node，express，mongodb，Angular，grunt，gulp，webpack，记得刚开始用Jquery 的时候，Dojo也很火，好像也用过，就好像Angular这样子，两年前特别火，现在铺天盖地都是React、Vue的，
                        | 现在前端的定义似乎更像是全栈，从前端到后端node
                        | 在到移动应用app ，ReactNative，忽然感觉有种力不从心的赶脚，水太深，貌似现在不会React、Vue 这些就会被鄙视，有时感觉自己什么都会一点，又感觉不会的更多，前端的定义更宽泛，怎么选择技术选型，真是个头疼的问题
            div(class="bb")
                div(class="separate-line txt-left")
                    div
                    span(class="label-text")  2017 “小目标”
                div(class="cc")
                    p 博客基础功能改版及到厦门旅游已经完成了，向目标前进了一小步，博客后续会添加更多管理功能，包括网站基础管理（对数据统计），新增评论等
                    dl
                        dt 代办事项
                        dd
                            p 预计9月份为期五天的旅游（地点待定）
                            p 管理学书（3本）、技术类（3本）不限前端
                            p 至少两篇技术类博文/每月
                            p 其他的暂时还没想到，对了，吉他尘灰已经快一年了，当时买了学了一个星期 @…………#……￥……￥&*）*）*！#@