extends layout
block link
    link(rel='stylesheet', href='/bower_components/editor.md/css/editormd.css')
    link(rel='stylesheet', href='/css/article-list.css')
block content
    div(class="container content-wrap")
        div(class="ar-header")
            h1 #{article.name}
        div(class="ar-content")
            article(class="editormd-preview-container")!=md(article.content)

