@charset "utf8";
/*表单边框颜色及分割线、布局边框*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  list-style: none;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Microsoft YaHei", "微软雅黑", "Lucida Grande", Helvetica, sans-serif, "Open Sans", Arial, "Hiragino Sans GB", "STHeiti", "WenQuanYi Micro Hei", SimSun;
  color: #333;
  font-size: 14px;
}
body {
  background: url("http://oht39vaz1.bkt.clouddn.com/img/bg/bg_grey.png") repeat;
}
a {
  color: #4acaa8;
}
a:hover {
  text-decoration: none;
  color: #05ad80;
}
label {
  display: block;
  margin-bottom: 10px;
}
input,
textarea {
  border: 0;
  font-size: 14px;
  padding: 4px 10px;
}
textarea {
  line-height: 24px;
}
.relative {
  position: relative;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix {
  clear: both;
}
.clearfix:after {
  content: "　";
  display: block;
  overflow: hidden;
  height: 0;
  clear: both;
}
.clearfix:before {
  content: "　";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.ml10 {
  margin-left: 10px !important;
}
.z-row {
  display: -webkit-flex;
  /* Safari */
  display: flex;
  flex-direction: row;
}
.l60 {
  width: 60% !important;
  margin: 0px 12px;
}
.l40 {
  width: 40% !important;
  margin: 0 12px;
}
.l80 {
  width: 80% !important;
  margin: 0px 12px;
}
.l20 {
  width: 20% !important;
  margin: 0 12px;
}
/*表单通用样式设置*/
.co-inp {
  border: 1px solid #eeeeee;
}
/*分割线*/
.separate-line {
  position: relative;
  margin-bottom: 10px;
  text-align: center;
}
.separate-line.txt-left {
  text-align: left;
}
.separate-line.txt-right {
  text-align: right;
}
.separate-line.tl {
  text-align: left;
}
.separate-line > div {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #f1f1f1;
  margin-top: 10px;
}
.separate-line .label-text {
  position: relative;
  padding: 0 40px;
  background-color: #fff;
  z-index: 2;
  font-size: 16px;
  color: #9cd3b3;
}
html,
body {
  height: 100%;
}
.main-banner {
  margin: 0 auto;
}
.main-banner img {
  display: block;
  width: 100%;
}
.w {
  width: 100%;
  background-color: #ffffff;
  padding: 0px 20px;
  margin: 0 auto;
}
.simple-block {
  position: relative;
  padding-top: 100px;
  margin-bottom: 30px;
}
.simple-block .av-img {
  position: absolute;
  width: 200px;
  height: 200px;
  top: -100px;
  padding: 20px;
  background: #ffffff;
}
.simple-block > h2 {
  float: left;
  width: 200px;
  text-align: center;
  line-height: 40px;
}
.simple-block > p {
  margin-left: 200px;
  line-height: 40px;
  font-size: 15px;
}
.my-content {
  padding-bottom: 50px;
}
.my-content .separate-line .label-text {
  padding-left: 0px;
}
.my-content .bb .cc {
  padding: 30px 0;
}
.my-content .bb .cc p {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 20px;
}
.my-content .bb .cc dl dt {
  font-size: 18px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .max-wrap-1200 {
    width: 1200px;
    padding: 30px 120px;
  }
  .main-banner {
    width: 1200px;
  }
}
@media screen and (max-width: 540px) {
  .simple-block {
    position: relative;
    padding-top: 40px;
  }
  .simple-block > h2 {
    width: 80px;
    font-size: 24px;
  }
  .simple-block > p {
    margin-left: 90px;
  }
  .simple-block .av-img {
    width: 80px;
    height: 80px;
    top: -40px;
    padding: 5px;
  }
  .my-content .bb .cc {
    padding: 10px 0;
  }
  .my-content .bb .cc p {
    margin-bottom: 12px;
  }
}
