@charset "utf8";
/*表单边框颜色及分割线、布局边框*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  list-style: none;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Microsoft YaHei", "微软雅黑", "Lucida Grande", Helvetica, sans-serif, "Open Sans", Arial, "Hiragino Sans GB", "STHeiti", "WenQuanYi Micro Hei", SimSun;
  color: #333;
  font-size: 14px;
}
label {
  display: block;
  margin-bottom: 10px;
}
input,
textarea {
  border: 0;
  font-size: 14px;
  padding: 4px 10px;
}
textarea {
  line-height: 24px;
}
.relative {
  position: relative;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
  line-height: 0;
}
.clearfix::after {
  clear: both;
}
.ml10 {
  margin-left: 10px !important;
}
.z-row {
  display: -webkit-flex;
  /* Safari */
  display: flex;
  flex-direction: row;
}
.l60 {
  width: 60% !important;
  margin: 0px 12px;
}
.l40 {
  width: 40% !important;
  margin: 0 12px;
}
.l80 {
  width: 80% !important;
  margin: 0px 12px;
}
.l20 {
  width: 20% !important;
  margin: 0 12px;
}
/*表单通用样式设置*/
.co-inp {
  border: 1px solid #dddddd;
}
.tp-lead {
  font-size: 18px;
  color: #20B2AA;
  margin-bottom: 20px;
}
.admin-header dt {
  height: 88px;
  border-bottom: 1px solid #dddddd;
}
.admin-header dt h1 {
  float: left;
  line-height: 88px;
}
.admin-header dt .user-info {
  padding: 22px 0;
}
.admin-header dt .user-info li {
  font-size: 14px;
  font-weight: normal;
  text-align: right;
  line-height: 44px;
}
.admin-header dt .user-info li a {
  margin-left: 10px;
}
.admin-header dd {
  height: 44px;
}
.admin-header dd .tab-navigator li {
  float: left;
}
.admin-header dd .tab-navigator li a {
  display: block;
  line-height: 44px;
  padding: 0 12px;
}
.ad-tpl label {
  font-weight: normal;
  font-size: 1.6rem;
}
.wrap-tpl {
  width: 1200px;
  margin: auto;
}
.wrap-tpl .brumb {
  padding-left: 12px;
  margin-bottom: 12px;
}
.wrap-tpl .brumb dt {
  float: left;
}
.wrap-tpl .brumb dd {
  float: right;
  margin-left: 20px;
}
.wrap-tpl .brumb dd span {
  margin-right: 10px;
}
.wrap-tpl .fl-list li > div {
  line-height: 24px;
  float: left;
  margin-right: 10px;
}
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  vertical-align: middle;
}
.modal-dialog {
  z-index: 101102;
}
