body {
  padding-bottom: 100px;
}
.ar-list dl {
  padding: 20px 10px;
  margin-bottom: 20px;
  background-color: #EDEDED;
  font-weight: normal;
}
.ar-list dl dt {
  font-weight: normal;
  color: #575757;
  font-size: 16px;
}
.ar-list dl dt p {
  font-size: 13px;
  line-height: 30px;
}
.ar-list dl dt p span {
  margin-left: 10px;
}
.ar-list dl dd {
  font-size: 14px;
}
.ar-list dl dd img {
  display: block;
  max-height: 100px;
}
