@charset "utf8";
/*表单边框颜色及分割线、布局边框*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  list-style: none;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Microsoft YaHei", "微软雅黑", "Lucida Grande", Helvetica, sans-serif, "Open Sans", Arial, "Hiragino Sans GB", "STHeiti", "WenQuanYi Micro Hei", SimSun;
  color: #333;
  font-size: 14px;
}
body {
  background: url("http://oht39vaz1.bkt.clouddn.com/img/bg/bg_grey.png") repeat;
}
a {
  color: #4acaa8;
}
a:hover {
  text-decoration: none;
  color: #05ad80;
}
label {
  display: block;
  margin-bottom: 10px;
}
input,
textarea {
  border: 0;
  font-size: 14px;
  padding: 4px 10px;
}
textarea {
  line-height: 24px;
}
.relative {
  position: relative;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix {
  clear: both;
}
.clearfix:after {
  content: "　";
  display: block;
  overflow: hidden;
  height: 0;
  clear: both;
}
.clearfix:before {
  content: "　";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.ml10 {
  margin-left: 10px !important;
}
.z-row {
  display: -webkit-flex;
  /* Safari */
  display: flex;
  flex-direction: row;
}
.l60 {
  width: 60% !important;
  margin: 0px 12px;
}
.l40 {
  width: 40% !important;
  margin: 0 12px;
}
.l80 {
  width: 80% !important;
  margin: 0px 12px;
}
.l20 {
  width: 20% !important;
  margin: 0 12px;
}
/*表单通用样式设置*/
.co-inp {
  border: 1px solid #eeeeee;
}
.wrap {
  width: 1200px;
  background-color: #fff;
  padding-bottom: 120px;
}
.logo-text,
.logo-text:hover,
.logo-text:focus {
  color: #7ACCB5;
  text-decoration: none;
}
.main-banner {
  text-align: center;
}
.simple-block {
  display: inline-block;
  padding: 3em;
}
/*默认pc 显示10*/
.img-gallery li {
  float: left;
  list-style: none;
  width: 20%;
}
.img-gallery li a {
  display: block;
}
.img-gallery li a img {
  width: 100%;
  display: block;
}
/*头部导航*/
.header {
  margin-bottom: 20px;
}
.header .m-nav {
  border-bottom: 1px solid #f1f1f1;
  clear: both;
}
.header .m-nav:after {
  content: "　";
  display: block;
  overflow: hidden;
  height: 0;
  clear: both;
}
.header .m-nav:before {
  content: "　";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.header .m-nav .logo {
  float: left;
}
.header .m-nav .logo img {
  display: block;
  height: 60px;
}
.header .m-nav .navigator {
  float: right;
}
.header .m-nav .navigator li {
  float: left;
  padding-top: 8px;
}
.header .m-nav .navigator li a {
  display: block;
  line-height: 44px;
  padding: 0 10px;
  color: #4acaa8;
  font-size: 16px;
}
.my-label {
  text-align: center;
  color: #d7d7d7;
  font-size: 16px;
  margin-top: 30px;
}
.my-label span {
  margin: 10px;
}
.my-label span:nth-child(odd) {
  font-size: 20px;
}
.my-label span:nth-child(2n+1) {
  color: #ACEDE9;
}
.my-label span:nth-child(3n+1) {
  color: #333;
}
.my-label p {
  margin: 20px 0px;
}
.page-nav {
  margin-top: 16px;
  text-align: center;
}
.page-nav > div {
  display: inline-block;
  margin-right: 10px;
  width: 10px;
  height: 10px;
  background: #f1f1f1;
  cursor: pointer;
}
.page-nav > div.active {
  width: 20px;
  height: 20px;
  background: #9bc4d6;
}
.travel-diary,
.my-label-block,
.my-group {
  margin: 20px 0px;
}
.travel-diary .separate-line {
  text-align: right;
}
.travel-diary .tl-block {
  height: 360px;
  overflow: hidden;
}
.travel-diary .tl-block .media-body {
  padding-top: 4px;
}
.travel-diary .tl-block .media-heading {
  margin-bottom: 16px;
  white-space: nowrap;
  overflow: hidden;
}
.travel-diary .tl-block .txt {
  font-size: 14px;
  line-height: 22px;
  height: 44px;
  margin-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.travel-diary .tl-block .t-img {
  display: block;
  width: 220px;
}
.travel-diary .tl-block .article-mark {
  font-size: 12px;
  color: #d7d7d7;
  line-height: 20px;
}
.my-label-block .separate-line {
  text-align: left;
}
/*group team*/
.group-block {
  margin-top: 20px;
  background: none;
  border: 0px;
  border-bottom: 1px solid #fff;
}
.group-block .caption {
  text-align: center;
  color: #969696;
}
.group-block .caption h3 {
  margin-bottom: 4px;
}
/*common css share*/
.separate-line {
  position: relative;
  margin-bottom: 10px;
  text-align: center;
}
.separate-line.tl {
  text-align: left;
}
.separate-line > div {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #f1f1f1;
  margin-top: 10px;
}
.separate-line .label-text {
  position: relative;
  padding: 0 40px;
  background-color: #fff;
  z-index: 2;
  font-size: 16px;
  color: #9cd3b3;
}
.b-grey {
  background-color: #f1f1f1;
}
.site-intro p {
  font-size: 16px;
  line-height: 30px;
  padding: 20px;
}
.site-intro p.center {
  text-align: center;
}
