@charset "utf8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    list-style: none;
    margin: 0;
    padding: 0;
}
body {
    font-family:"Microsoft YaHei","微软雅黑","Lucida Grande", Helvetica,sans-serif,"Open Sans",Arial,"Hiragino Sans GB","STHeiti","WenQuanYi Micro Hei",SimSun;
    color:#333;
    font-size:14px;
}
label{
    display:block;
    margin-bottom:10px;
}
input,textarea{
    border:0;
    font-size:14px;
    padding:5px 10px;
    line-height:25px;
}
.relative{
    position:relative;
}
.fl{
    float:left;
}
.fr{
    float:right;
}
.clearfix::before, .clearfix::after {
    content: "";
    display: table;
    line-height: 0;
}
.clearfix::after {
    clear: both;
}