.tp-lead{
  font-size:18px;
  color:#20B2AA;
  margin-bottom:20px;
}
.ad-tpl{
  padding:0 50px;
}
.admin-header{
  margin-bottom:20px;
  dt{
    height:88px;
    border-bottom:1px solid #B2B1B1;
    h1{
      float:left;
      line-height: 88px;
    }
    .user-info{
      padding:22px 0;
      li{
        font-size:14px;
        font-weight:normal;
        text-align: right;
        line-height: 44px;
        a{
          margin-left:10px;
        }
      }
    }
  }
  dd{
    height:44px;
    .tab-navigator{
      li{
        float:left;
        a{
          display:block;
          line-height: 44px;
          padding:0 12px;
        }
      }
    }
  }
}
.ad-tpl{
  label{
    font-weight:normal;
    font-size:1.6rem;
  }
}
// bootstrap
.modal-dialog{
  z-index:101102;
}
// 调整盒模型 间距像素
.ml10{
  margin-left:10px !important;
}