body{
  padding-bottom:100px;
}
.ar-list{
  dl{
    padding:20px 10px;
    margin-bottom:20px;
    background-color:#EDEDED;
    font-weight:normal;
    dt{
      font-weight:normal;
      color:#575757;
      font-size:16px;
      p{
        font-size:13px;
        line-height: 30px;
        span{
          margin-left:10px;
        }
      }
    }
    dd{
      font-size:14px;
      img{
        display:block;
        max-height: 100px;
      }
    }
  }
}